{% extends 'AppBundle:default:base.html.twig' %}
{% block body %}
<div class="outer">
	{% block content %}
	{% endblock %}
</div>
	{% block navContent %}
	<div class="shareNote" onClick="closeShareNote();" style="display:none;"></div>
	<img src="{{ asset('bundles/app/default/') }}images/logo.png" class="logo">
	{% endblock %}
{% endblock %}
{% block javascripts %}
{% endblock %}